<div class="row">
    <div class="col-4 offset-4">
        <div class="card">

            <div class="card-header">
                <h4>Sign-in here</h4>
            </div>

            <div class="card-body">
               <form >

                <div class="form-group pt-3">
                    <label for="">User name</label>
                    <input type="text" class="form-control" name="username">
                </div>

                <div class="form-group pt-3">
                    <label for="">Email Id</label>
                    <input type="text" class="form-control" name="userid">
                </div>

                <div class="form-group pt-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class="form-group pt-3">
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class="form-group pt-3">
                    <input type="submit" class="form-control btn btn-success" name="btn" value="Sign-in">
                </div>

               </form>
            </div>

        </div>
    </div>
</div>